<h1>Sign up</h1>

<form action="signup" method="POST">
  <input type="text" name="username" placeholder="Username">
   <input type="text" name="fullname" placeholder="Full Name">
  <input type="text" name="phone_number" placeholder="Phone Number">
 <input type="Submit">
</form>