<!DOCTYPE html>
<html>
<head>
	<title>Flatiron Swag</title>
</head>
  <body> 
    <h1> Your item is: <%=@hat.name%> </h1>
    <img src="<%=@hat.image_url%>">
    <h1> The price is <%=@hat.price%> </h1>
    <h1> There are <%=@hat.count%> of the item left </h1>
  </body>
</html>